transformers==4.51.0
accelerate==1.10.0
bitsandbytes==0.47.0
peft==0.17.1
timm==0.9.11

qwen-vl-utils==0.0.14
sentencepiece==0.2.1

numpy==2.0.2
pandas==2.3.0
pillow==11.2.1
h5py==3.14.0
openslide-python==1.4.2
datasets==4.0.0

tqdm==4.67.1
requests==2.32.3
einops==0.8.1
